body{
    margin:0;
    padding: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /*color degrade*/
    background: linear-gradient(#1C2833,#ABB2B9);
    /*para que el color este por toda la pantalla*/
    height: 100vh;
}
.column{
    width: 100%;
}
h1{
    text-align: center;
    font-size: 40px;
    background-color: #1C2833;
    padding: 5px;
}
.formulario{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: azure;
    border-radius: 10px;

}
.formulario h3{
    text-align: center;
    padding: 0 0 -5px 0;
    font-family: 'Courier New', Courier, monospace;
    color: black;

}
.formulario h6{
    text-align: center;
    padding: 0 0 -10px 0;

}
.demas{
    position: absolute;
    top: 80%;
    width: 100%;

}
.demas h2{
    text-align: center;
    padding: 0 0 -5px 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslateblue;
}

@media only screen and (max-width: 450px){
    body{
        background: linear-gradient(#1C2833,#943126);
        font-size: 20px;
    }
    h1{
        font-size: 20px;
        background-color: azure;
    }
    p{
        font-size: 30px;
        color: chocolate;
    }
    
}




@media only screen and (max-width: 300px){
    body{
        background: linear-gradient(#1C2833,#3498DB);
        color: white;
        font-size: 15px;
    }
    h1{
        font-size: 15px;
        background-color: aqua;
    }
    p{  
        font-size: 30px;
        color: darkgreen;
    }
    
}